@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.banner {
  height: 100vh;
}

.banner .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.banner .row .col {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.banner .row .col:nth-child(2) {
  width: 55%;
  margin-top: 8rem;
}

.banner .row .first_col {
  align-items: flex-start;
}


.img {
  border-radius: 10px;
}


.col .h1 {
  font-size: 8rem;
  font-family: "Monoton";
  color: #222f3e;
  font-weight: 400;
  padding: 0rem 1rem;
}

.col .h3 {
  font-size: 4rem;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
}

.col .h3:first-child {
  color: #222f3e;
}

.col .h3:last-child {
  font-size: 2.5rem;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px 10px;
  margin-top: 6px;
}

.image {
  width: 100%;
  position: relative;
  height: 650px;
}



.small {
  height: 650px;
  width: 650px;
  overflow: hidden;
  margin: 0px auto;
  margin-bottom: -2rem;
  display: none;
  margin-top: -5rem;
  position: relative;
}

.eyes {
  position: relative;
  height: 100%;
}

.eye:nth-child(1) {
  position: absolute;
  top: 39.5%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.eye:nth-child(2) {
  position: absolute;
  top: 39.5%;
  left: 56%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .col .h1 {
    font-size: 5.5rem;
  }

  .col .h3 {
    font-size: 2.5rem;
  }

  .eye:nth-child(1) {
    position: absolute;
    top: 41.5%;
    left: 46%;
    transform: translate(-50%, -50%);
    height: 15px;
  }

  .eye:nth-child(2) {
    position: absolute;
    top: 41.5%;
    left: 56%;
    transform: translate(-50%, -50%);
    height: 15px;
  }

}

@media (max-width: 992px) {

  .eye:nth-child(1) {
    position: absolute;
    top: 43.2%;
    left: 46%;
    transform: translate(-50%, -50%);
    height: 12px;
  }

  .eye:nth-child(2) {
    position: absolute;
    top: 43.2%;
    left: 56%;
    transform: translate(-50%, -50%);
    height: 12px;
  }

}

@media (max-width: 768px) {
  .small {
    display: block;
  }

  .banner {
    padding-bottom: 2rem;
    height: auto;
  }

  .banner .row .col {
    width: 100%;
    margin: 20px auto;
  }

  .banner .row .col:last-child {
    display: none;
  }

  .col .h1 {
    font-size: 7rem;
  }

  .col .h3 {
    font-size: 3.5rem;
  }

  .banner .row .first_col {
    align-items: center;
  }

  .eye:nth-child(1) {
    position: absolute;
    top: 39.2%;
    left: 46%;
    transform: translate(-50%, -50%);
    height: 20px;
  }

  .eye:nth-child(2) {
    position: absolute;
    top: 39.2%;
    left: 55.7%;
    transform: translate(-50%, -50%);
    height: 20px;
  }
}

@media(max-width:650px) {

  .small {
    width: 100%;
    height: 500px;
  }

  .eye:nth-child(1) {
    position: absolute;
    top: 39.2%;
    left: 46.7%;
    transform: translate(-50%, -50%);
    height: 14px;
  }

  .eye:nth-child(2) {
    position: absolute;
    top: 39.2%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 14px;
  }
}

@media (max-width: 600px) {
  .col .h1 {
    font-size: 4.5rem;
  }

  .col .h3 {
    font-size: 2.8rem;
  }

  .col .h3:last-child {
    font-size: 2rem;
  }
}

@media(max-width: 500px) {
  .small {
    height: 320px;
  }

  .eye:nth-child(1) {
    position: absolute;
    top: 39.2%;
    left: 47.3%;
    transform: translate(-50%, -50%);
    height: 8px;
  }

  .eye:nth-child(2) {
    position: absolute;
    top: 39.2%;
    left: 54%;
    transform: translate(-50%, -50%);
    height: 8px;
  }
}

@media (max-width: 400px) {
  .col .image .data {
    font-size: 1.5rem;
  }

}