@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.banner {
  height: 100vh;
}

.banner .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.banner .row .col {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.banner .row .col:nth-child(2) {
  width: 44%;
  margin-top: 8rem;
}

.banner .row .first_col {
  align-items: flex-start;
}


.img {
  border-radius: 10px;
}


.col .h1 {
  font-size: 8rem;
  font-family: "Monoton";
  color: #222f3e;
  font-weight: 400;
  padding: 0rem 1rem;
}

.col .h3 {
  font-size: 4rem;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
}

.col .h3:first-child {
  color: #222f3e;
}

.col .h3:last-child {
  font-size: 2.5rem;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px 10px;
  margin-top: 6px;
}

.image {
  width: 100%;
  position: relative;
  height: 650px;
}



.small {
  height: 450px;
  width: 450px;
  overflow: hidden;
  margin: 32px auto;
  display: none;
  position: relative;
  margin-top: -2rem;
}

.eyes {
  position: relative;
  height: 100%;
}


.eye:nth-child(1) {
  position: absolute;
  top: 40%;
  left: 41%;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.eye::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: url("/big_eye.svg");
  background-repeat: no-repeat;
  background-position: top;

}

.eye:nth-child(2) {
  position: absolute;
  top: 40%;
  left: 56.8%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.morph {
  animation: morph 8s ease-in-out infinite;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #BAB6B3;
}

@media (max-width: 1200px) {
  .col .h1 {
    font-size: 5.5rem;
  }

  .col .h3 {
    font-size: 2.5rem;
  }

  .eye::after {
    background: url("/eye.svg");
    background-repeat: no-repeat;
    background-position: top;
  }

  .eye:nth-child(1) {
    position: absolute;
    top: 41.5%;
    left: 41%;
    transform: translate(-50%, -50%);
    height: 22px;
    width: 22px;
  }

  .eye:nth-child(2) {
    position: absolute;
    top: 41.5%;
    left: 56%;
    transform: translate(-50%, -50%);
    height: 22px;
    width: 22px;
  }

}

@media (max-width: 992px) {

  .eye::after {
    background-image: url("/small_eye.svg");
  }

  .eye:nth-child(1) {
    position: absolute;
    top: 43.5%;
    left: 41%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
  }

  .eye:nth-child(2) {
    position: absolute;
    top: 43.5%;
    left: 56%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
  }

}

@media (max-width: 768px) {
  .small {
    display: block;
  }

  .banner {
    padding-bottom: 2rem;
    height: auto;
  }

  .banner .row .col {
    width: 100%;
    margin: 20px auto;
  }

  .banner .row .col:last-child {
    display: none;
  }

  .col .h1 {
    font-size: 7rem;
  }

  .col .h3 {
    font-size: 3.5rem;
  }

  .banner .row .first_col {
    align-items: center;
  }

  .eye::after {
    background-image: url("/big_eye.svg");
  }

  .eye:nth-child(1) {
    position: absolute;
    top: 37.8%;
    left: 41.2%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
  }

  .eye:nth-child(2) {
    position: absolute;
    top: 37.8%;
    left: 56%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
  }
}

@media(max-width:650px) {

  .small {
    width: 450px;
    height: 450px;
  }


}

@media (max-width: 600px) {
  .col .h1 {
    font-size: 4.5rem;
  }

  .col .h3 {
    font-size: 2.8rem;
  }

  .col .h3:last-child {
    font-size: 2rem;
  }
}

@media(max-width: 500px) {
  .eye::after {
    background-image: url("/small_eye.svg");
  }

  .small {
    height: 320px;
    width: 320px;
  }

  .eye:nth-child(1) {
    position: absolute;
    top: 37.5%;
    left: 41.8%;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 16px;
  }

  .eye:nth-child(2) {
    position: absolute;
    top: 37.5%;
    left: 56%;
    transform: translate(-50%, -50%);
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 400px) {
  .col .image .data {
    font-size: 1.5rem;
  }

}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}