.footer {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.link {
  height: 10rem;
  width: 10rem;
  background-color: rgb(174, 176, 179);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  font-size: 5rem;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.linkedin {
  color: #0077b5;
  background-color: #b7e6ff;
}

.hackerrank {
  color: #1ba94c;
  background-color: #c6e7d1;
}

.npm {
  color: rgb(204, 53, 52);
  background-color: #fbd9d9;
}