@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' height='32' width='32'%3E%3Cpath pid='0' d='M.995 1L14.9 33.003l2.983-9.752a8.077 8.077 0 015.368-5.368l9.752-2.982L.995 1z' stroke='%23FFDEAD' stroke-width='2' fill='%232E304B'/%3E%3C/svg%3E"), auto;
  /* background-image: url("/bgImg.png");
  background-size: cover;
  background-position: center; */

}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.5rem;
  padding-bottom: 8rem;
}

.pt {
  padding-top: 8rem;
}

.TypeScript {
  padding: 3rem !important;
}

.section_heading {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  color: #2c3e50;
  -webkit-text-stroke-color: transparent;
  -webkit-text-fill-color: #56f0c7;
  -webkit-text-stroke-width: 1px;
  text-shadow: 4px 4px 0 #2c3e50;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 8rem;
}

.animate {
  transform: translateY(100px);
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: #161616;
}

body::-webkit-scrollbar-thumb {
  background: #56f0c7;
  border-radius: 0.8rem;
}

@media (min-width: 576px) {
  .section {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .section {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .section {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .section {
    width: 1170px;
  }
}

@media (max-width: 500px) {
  .section_heading {
    font-size: 4rem;
  }
}

.bg_color {
  background-color: #edf2f8;
  background-image: url("/bgWhite.webp");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.warning {
  background-color: rgba(255, 193, 7, 0.25);
}

.success {
  background-color: rgba(60, 219, 143, 0.25);
}

.danger {
  background-color: rgba(249, 67, 67, 0.25);
}

.primary {
  background-color: rgba(44, 96, 250, 0.25);
}

.work-card-enter {
  opacity: 0;
  transform: scale(0.6) translateY(250px) !important;
}

.work-card-enter-active {
  transform: scale(1) translateY(0px) !important;
  opacity: 1;
  transition: all 1s;
}

.work-card-exit {
  transform: scale(1) translateY(0px) !important;
  opacity: 1;
}

.work-card-exit-active {
  transform: scale(0.6) translateY(250px) !important;
  opacity: 0;
  transition: all 1s;
}

.justify-center {
  justify-content: center;
}

.duration-700 {
  transition-duration: 700ms;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.grayscale-0 {
  filter: grayscale(0);
}

.grayscale {
  filter: grayscale(100%);
}

.blur-2xl {
  filter: blur(40px);
}

.blur-0 {
  filter: blur(0);
}

.scale-100 {
  transform: scale(1);
}

.scale-110 {
  transform: scale(1.1);
}

.main {
  overflow: hidden;
}


::selection {
  color: #313bac;
  background: transparent;
}




/* water animation*/
.wavesAnimation {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 9999999;
  top: 100%;
}

.waves {
  position: absolute;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
  top: -15%;
}


.color {
  background-color: rgb(22, 22, 22);
  position: absolute;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -4s;
  animation-duration: 2s;
}

.parallax>use:nth-child(2) {
  animation-delay: -1s;
  animation-duration: 3.5s;
}

.parallax>use:nth-child(3) {
  animation-delay: -3s;
  animation-duration: 4s;
}

.parallax>use:nth-child(4) {
  animation-delay: -2s;
  animation-duration: 3.2s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}



/* Loading Text */

.text_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999999999999;
  width: 100%;
}

.loading {
  display: flex;
  flex-direction: row;
}

.loading__letter {
  font-size: 88px;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loading__letter:nth-child(2) {
  animation-delay: .1s;
}

.loading__letter:nth-child(3) {
  animation-delay: .2s;
}

.loading__letter:nth-child(4) {
  animation-delay: .3s;
}

.loading__letter:nth-child(5) {
  animation-delay: .4s;
}

.loading__letter:nth-child(6) {
  animation-delay: .5s;
}

.loading__letter:nth-child(7) {
  animation-delay: .6s;
}

.loading__letter:nth-child(8) {
  animation-delay: .8s;
}

.loading__letter:nth-child(9) {
  animation-delay: 1s;
}

.loading__letter:nth-child(10) {
  animation-delay: 1.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px)
  }

  40% {
    transform: translateY(-40px);
  }

  80%,
  100% {
    transform: translateY(0px);
  }
}


@media (max-width: 700px) {
  .loading__letter {
    font-size: 50px;
  }
}

@media (max-width: 340px) {
  .loading__letter {
    font-size: 40px;
  }
}